* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(199, 194, 194);
}

nav {
    background-color: #0b0b0b;
    padding: 10px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.banner {
    height: 200px;
    background-color: #464646;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.3em;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
}

/*hover effect*/ 
.banner:hover {
    color:rgb(255, 182, 177);
    font-size: 3.4em;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
}

.poem {
    height: 200px;
    margin: 2em;
    background: #eee;
    opacity: 60%;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poem figcaption,
.poem blockquote {
  margin: 2em;
  font-size: 1.8em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*external font library*/
.poem figcaption {
    font-family: "Stick";
}

/*hover over poet name*/
.poem figcaption:hover {
    color: rgb(255, 140, 140);
}

.poem blockquote:hover {
    text-decoration: underline;
}

/*line height and spacing*/
#para-1 {
    padding: 3em;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 2em;
}
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}